.container {
    /* width: 80%; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 10px;
    /* border: 1px solid #333; */
    border: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}

div > p:last-child{
    padding: 10px 30px;
}